streamlit==1.35.0
streamlit-webrtc>=0.63.0,<0.64   # versi yg support Py 3.11+

# stack InsightFace (tanpa dlib)
insightface==0.8.9
onnxruntime==1.18.0

opencv-python-headless==4.10.0.84  # build wheel yg sudah link ke NumPy 2
numpy==2.2.6
scikit-learn==1.4.2                # 1.4.x sudah support NumPy ≥2
pandas==2.2.2
requests
gTTS==2.5.0
